<main class="main">
  <app-page-hero title="About Us" />
  <section class="about-area py-120">
    <div class="container"><div class="row align-items-center">
      <div class="col-lg-6"><div class="about-left wow fadeInLeft"><div class="about-img"><img src="assets/img/about/01.png" alt="Cars available through SayaraHub" /></div><div class="about-experience"><div class="about-experience-icon"><i class="flaticon-car"></i></div><b>Trusted Cars.<br />Clear Choices.</b></div></div></div>
      <div class="col-lg-6"><div class="about-right wow fadeInRight"><div class="site-heading mb-3"><span class="site-title-tagline justify-content-start"><i class="flaticon-drive"></i> About SayaraHub</span><h2 class="site-title">A Better Way To <span>Buy And Sell</span> Cars.</h2></div>
        <p class="about-text">SayaraHub brings vehicle discovery, seller tools, favorites, and direct conversations into one clean marketplace experience.</p>
        <div class="about-list-wrapper"><ul class="about-list list-unstyled">@for (highlight of highlights; track highlight) { <li>{{ highlight }}</li> }</ul></div>
        <a routerLink="/cars" class="theme-btn mt-4">Browse Inventory <i class="fas fa-arrow-right-long"></i></a>
      </div></div>
    </div></div>
  </section>
  <section class="counter-area pt-30 pb-30"><div class="container"><div class="row">@for (counter of counters; track counter.label) {
    <div class="col-lg-3 col-sm-6"><div class="counter-box"><div class="icon"><i [class]="counter.icon"></i></div><div><span class="counter" data-count="+">{{ counter.value }}</span><h6 class="title">{{ counter.label }}</h6></div></div></div>
  }</div></div></section>
</main>
