:host {
  display: block;
}

.messages-profile {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

@media (max-width: 767px) {
  .user-profile {
    padding-top: 24px !important;
  }
}
